@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To the new Student information Plateforme</h1>
    <img src="/img/Welcome.jpg"/>
</div>

